:root
{
    --color-primary: #007e93;
    --color-heading: #40484a;
    --color-body: #576366;
    --color-white: #fff;
}

/* Typography */

html
{
    font-size: 62.5%;
}

body
{
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--color-body);
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

p
{
    margin-top: 0;
}

h1,h2,h3
{
    color: var(--color-heading);
    margin-bottom: 1.4rem;
}

h1
{
    font-size: 3.2rem;
    font-weight: 500;
}

h2
{
    font-size: 2.4rem;
}

h3
{
    font-size: 1.8rem;
}

@media  screen and (min-width: 1024px) 
{
    h1
    {
        font-size: 3.6rem;
    }

    h2
    {
        font-size: 2.8rem;
    }

    h3
    {
        font-size: 2rem;
    }
}

/* Buttons */

.btn
{
    padding: 2rem 5rem;
    border-radius: 4px;
    font-weight: bold;
    color: #fff;
    border: 0;
    text-align: center;
    text-transform: capitalize;
}

.btn-primary
{
    background-color: var(--color-primary);
}

.btn-heading
{
    background-color: var(--color-heading);
}

.btn-stretched
{
    width: 100%;
}

.btn-small
{
    padding: 1rem 1rem;
}

/* Inputs */

.input
{
    border: 1px solid #d4d9dd;
    background-color: #f9fafa;
    padding: 1.2rem;
    border-radius: 4px;
    width: 100%;
}

::placeholder
{
    color: #4b5658;
}