:root
{
    --color-primary: #007e93;
    --color-heading: #40484a;
    --color-body: #576366;
    --color-white: #fff;
}

/* Typography */

html
{
    font-size: 62.5%;
}

body
{
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--color-body);
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

p
{
    margin-top: 0;
}

h1,h2,h3
{
    color: var(--color-heading);
    margin-bottom: 1.4rem;
}

h1
{
    font-size: 3.2rem;
    font-weight: 500;
}

h2
{
    font-size: 2.4rem;
}

h3
{
    font-size: 1.8rem;
}

@media  screen and (min-width: 1024px) 
{
    h1
    {
        font-size: 3.6rem;
    }

    h2
    {
        font-size: 2.8rem;
    }

    h3
    {
        font-size: 2rem;
    }
}

/* Buttons */

.btn
{
    padding: 2rem 5rem;
    border-radius: 4px;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    border: 0;
    text-align: center;
    text-transform: capitalize;
}

.btn--primary
{
    background-color: var(--color-primary);
}

.btn--heading
{
    background-color: var(--color-heading);
}

.btn--stretched
{
    width: 100%;
}

.btn--small
{
    padding: 1rem 1rem;
}

/* Inputs */

.input
{
    border: 1px solid #d4d9dd;
    background-color: #f9fafa;
    padding: 1.2rem;
    border-radius: 4px;
    width: 100%;
}

::placeholder
{
    color: #4b5658;
}

/* Icons */

.icon
{
    width: 100px;
    height: 103px;
}

.icon--primary
{
    fill: rgb(88, 162, 212);
}

.icon--white
{
    fill: var(--color-white);
}

.icon--medium
{
    width: 45px;
    height: 45px;
}

.icon--small
{
    width: 30px;
    height: 30px;
}

.icon--body
{
    fill: var(--color-body);
}

.icon-body
{
    position: relative;
    display: inline-flex;
}

.icon--content
{
    position: absolute;
    width: 70%;
    height: 50%;
}

.icon--above
{
    top: -10%;
    right: -10%;
}

/* .icon--below
{
   
} */

.icon--square
{
    background-color: rgb(144, 238, 144, 50%);
   
}

.icon--circle
{
    
    background-color: rgb(255, 165, 0, 70%);
}

.icon--circle--orange
{
    background-color: rgb(255, 165, 0, 50%);
}

/* .icon--responsive > .icon
{
    width: 100%;
    max-width: 100px;
} */

.icon--responsive
{
    width: 100%;
    max-width: 100px;
}


/* Lists */

.list
{
    list-style: none;
    padding-left: 0;
}

.list__inline
{
    display: flex;
}

.list__item
{
    margin: 1rem 1rem 1rem 0;
}

.list__inline .list__item
{
    margin-left: 1.2rem;
}

.list > a
{
    text-decoration: none;
    font-weight: bold;
}

.list > a:hover
{
    color: rgb(0, 0, 189);
}


/* Grids */

.grid
{
    display: grid;
}

@media screen and (min-width: 768px) 
{
    .grid--1x2
    {
        grid-template-columns: repeat(2,1fr);
    }

    .grid--1x3
    {
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (min-width: 900px) 
{
    .grid--1x4
    {
        grid-template-columns: repeat((3,1fr));
    }
}


/* Media */

.media__image
{
    margin-top: 3rem;
}

@media screen and (min-width:768px) 
{
    .media
    {
        display: flex;
    }

    .media__image
    {
        justify-content: end;

    }

    .media__body
    {
        margin-left: 3rem;
    }
}


/* Collapsible */

.collapsible, .collapsible__heading
{
    font-size: 1.8rem;
    color: var(--color-body);
}

.collapsible__header
{
   display: flex;
   justify-content: space-between;
}

.collapsible__background
{
    margin-top: 1rem;
    width: 45px;
    height: 45px;
    display: inline-flex;
    background-color: #007e93;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}

.collapsible--expanded__content
{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.15s, opacity 0.15s;
}

.collapsible__chevron
{
    transform: rotate(0deg);
    width: 15px;
    height: 15px;
    transition: transform 0.15s;
}

.collapsible--expanded .collapsible--expanded__content
{
    max-height: 100vh;
    opacity: 1;
    transition: max-height 0.15s, opacity 0.15s
}

.collapsible--expanded .collapsible__chevron
{
    transform: rotate(180deg);
    transition: transform 0.15s;
}


/* Testimonial */

.author__name
{
    font-size: 3.2rem;
    margin-bottom: -0.5rem;
}

.author__city
{
    margin-top: 0;
    color: var(--color-body);
    opacity: 0.7;
    margin-bottom: 0;
}

.testimonial__icon
{
    width: 60px;
    height: 60px;
    fill: rgb(73, 230, 73);
    margin-top: -1rem;
}

.testimonial--content
{
    margin-top: -1.5rem;
}

.testimonial__paragraph
{
    font-size: 2rem;
    opacity: 0.8;
    margin-bottom: 4rem;
    margin-top: 0;
}

.testimonial__button
{
    padding: 2rem 3.5rem;
    font-weight: 800;
}

@media screen and (min-width:680px) 
{
    .testimonial__button
    {
        width: auto;
    }
}