:root
{
    --color-primary: #007e93;
    --color-heading: #40484a;
    --color-body: #576366;
    --color-white: #fff;
}

/* Typography */

html
{
    font-size: 62.5%;
}

body
{
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--color-body);
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

p
{
    margin-top: 0;
}

h1,h2,h3
{
    color: var(--color-heading);
    margin-bottom: 1.4rem;
}

h1
{
    font-size: 3.2rem;
    font-weight: 500;
}

h2
{
    font-size: 2.4rem;
}

h3
{
    font-size: 1.8rem;
}

@media  screen and (min-width: 1024px) 
{
    h1
    {
        font-size: 3.6rem;
    }

    h2
    {
        font-size: 2.8rem;
    }

    h3
    {
        font-size: 2rem;
    }
}

/* Buttons */

.btn
{
    padding: 2rem 5rem;
    border-radius: 4px;
    font-weight: bold;
    color: #fff;
    border: 0;
    text-align: center;
    text-transform: capitalize;
}

.btn--primary
{
    background-color: var(--color-primary);
}

.btn--heading
{
    background-color: var(--color-heading);
}

.btn--stretched
{
    width: 100%;
}

.btn--small
{
    padding: 1rem 1rem;
}

/* Inputs */

.input
{
    border: 1px solid #d4d9dd;
    background-color: #f9fafa;
    padding: 1.2rem;
    border-radius: 4px;
    width: 100%;
}

::placeholder
{
    color: #4b5658;
}

/* Icons */

.icon
{
    width: 120px;
    height: 110px;
}

.icon--primary
{
    fill: rgb(88, 162, 212);
}

.icon--medium
{
    width: 50px;
    height: 50px;
}

.icon--small
{
    width: 30px;
    height: 30px;
}

.icon--body
{
    fill: var(--color-body);
}

.icon-body
{
    position: relative;
}

.icon-content
{
    position: absolute;
}

.icon--above
{
    top: -120px;
    right: -5px;
}

.icon--below
{
    bottom: -10px;
    right: -15px;
}

.icon--square
{
    background-color: rgb(144, 238, 144, 50%);
    width: 80px;
    height: 65px;
    border-radius: 5px;
}

.icon--circle
{
    border-radius: 100%;
    width: 70px;
    height: 70px;
    background-color: rgb(255, 165, 0, 70%);
}

.icon--circle--orange
{
    background-color: rgb(255, 165, 0, 50%);
}


/* Lists */

.list
{
    list-style: none;
    padding-left: 0;
}

.list__inline
{
    display: flex;
}

.list__item
{
    margin: 1rem 1rem 1rem 0;
}

.list__inline .list__item
{
    margin-left: 1.2rem;
}

.list > a
{
    text-decoration: none;
    font-weight: bold;
}

.list > a:hover
{
    color: rgb(0, 0, 189);
}


/* Grids */

.grid
{
    display: grid;
}

@media screen and (min-width: 768px) 
{
    .grid--1x2
    {
        grid-template-columns: repeat(2,1fr);
    }

    .grid--1x3
    {
        grid-template-columns: repeat(3,1fr);
    }
}