<div class="q_a__block">
    <div class="container">
      <h1 class="q_a__heading">Q&A</h1>
      <div class="collapsible">
        <header class="collapsible__header">
          <h2 class="collapsible__heading">
            How long does my subscription last
          </h2>
          <span class="collapsible__background">
            <svg class="icon icon--white collapsible__chevron">
              <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
          </span>
        </header>
        <div class="collapsible--expanded__content">
          Treehouse subscriptions are monthly, with the option to cancel your
          subscription at any time.
        </div>
      </div>
      <div class="collapsible">
        <header class="collapsible__header">
          <h2 class="collapsible__heading">
            Do you have a free trial?
          </h2>
          <span class="collapsible__background">
            <svg class="icon icon--white collapsible__chevron">
              <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
          </span>
        </header>
        <div class="collapsible--expanded__content">
          Yes! We offer everyone a seven-day free trial. You can take
          advantage of it by visiting our <a href="#" class="q_a__tag">sign-up</a> page.
        </div>
      </div>
      <div class="collapsible">
        <header class="collapsible__header">
          <h2 class="collapsible__heading">
            What can I do if I'm stuck on a learning task?
          </h2>
          <span class="collapsible__background">
            <svg class="icon icon--white collapsible__chevron">
              <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
          </span>
        </header>
        <div class="collapsible--expanded__content">
          Our <a href="#" class="q_a__tag">Community</a href="#"> is a great resource if you're stuck! It's also a great
          place to practice code reviews. If you're unable to get a
          satisfactory response from our Community, you can send an email to
          <a href="#" class="q_a__tag">help@teamtreehouse.com</a href="#"> for help from our Support team.
        </div>
      </div>
      <div class="collapsible">
        <header class="collapsible__header">
          <h2 class="collapsible__heading">
            How do I download videos for offline viewing?
          </h2>
          <span class="collapsible__background">
            <svg class="icon icon--white collapsible__chevron">
              <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
          </span>
        </header>
        <div class="collapsible--expanded__content">
          Video downloads are available only to Courses Plus subscribers. If
          you're a Courses Plus subscriber, you can download the video(s)
          directly from the site.
        </div>
      </div>
      <div class="collapsible">
        <header class="collapsible__header">
          <h2 class="collapsible__heading">
            Do you offer a Group Membership at a discounted rate?
          </h2>
          <span class="collapsible__background">
            <svg class="icon icon--white collapsible__chevron">
              <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
          </span>
        </header>
        <div class="collapsible--expanded__content">
          We do offer group membership discounts. Please fill out the form
          <a href="#" class="q_a__tag">here</a href="#"> and someone from our Organizations team will follow up with
          you.
        </div>
      </div>
      <div class="collapsible">
        <header class="collapsible__header">
          <h2 class="collapsible__heading">
            What if I have a question that isn't answered here?
          </h2>
          <span class="collapsible__background">
            <svg class="icon icon--white collapsible__chevron">
              <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
          </span>
        </header>
        <div class="collapsible--expanded__content">
          Refer to our full-length <a href="#" class="q_a__tag">FAQ page</a href="#">, or reach out directly to
          <a href="#" class="q_a__tag">help@teamtreehouse.com.</a href="#"> We're here to help!
        </div>
      </div>
      <button class="btn btn--primary q_a__btn">Start Your Free Trial</button>
    </div>
  </div>