<div class="container__card">
  <div class="card">
    <div class="card__header">
      <picture>
        <source
          type="image/webp"
          srcset="images/Hammad PPS.webp 1x, images/Hammad PPS@2.webp 2x"
        />
        <source
          type="image/webp"
          srcset="images/Hammad PPS.jpeg 1x, images/Hammad PPS@2.jpeg 2x"
        />
        <img class="card__image" src="images/Hamaad PPS.jpeg" alt="" />
      </picture>
    </div>
    <div class="card__body">
      <h2 class="card__heading">Haeding</h2>
      <h3 class="card__city">New York</h3>
      <svg class="icon icon--primary card__icon">
        <use xlink:href="images/sprite.svg#line"></use>
      </svg>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A, laboriosam.
        Necessitatibus placeat quasi hic voluptate asperiores nulla tempora sint
        vel doloremque unde, eum ducimus similique id odit. Odio exercitationem
        dolorum error totam sequi eos molestiae rem, placeat quidem, possimus
        sit?
      </p>
      <button class="btn btn--primary btn--stretched testimonial__button">
        malina's story
      </button>
    </div>
  </div>
</div>
