<div class="control__block">
  <section class="container">
    <div class="media">
      <div>
        <img src="/images/control-panel.webp" alt="" />
      </div>
      <div class="media__body">
        <h2 class="media__heading control__heading">
          Not sure where to start?
        </h2>
        <p class="media__content control__content">
          No problem, we are here to help! Just answer a couple of questions
          related to your interests and goals, and we will help set you on the
          right path on your learning journey.
        </p>
        <button class="btn btn--stretched control__btn">Take Quiz</button>
      </div>
    </div>
  </section>
</div>
