<section class="container plan__block">
  <div class="grid grid--1x3">
    <div class="media">
      <div class="media__image">
        <div class="icon-body">
          <svg class="icon icon--primary icon--responsive">
            <use xlink:href="images/sprite.svg#play"></use>
          </svg>
          <span class="icon--content icon--square icon--above"></span>
        </div>
      </div>
      <div class="media__body">
        <h2 class="media__heading">
          Wxpert-led video course for beginners and skill levels
        </h2>
        <p class="media__content">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat
          nemo cumque accusantium, ut sunt accusamus!
        </p>
        <button class="btn btn--primary btn--stretched">
          Start Your Journey
        </button>
      </div>
    </div>
    <div class="media">
      <div class="media__image">
        <div class="icon-body">
          <svg class="icon icon--responsive icon--primary">
            <use xlink:href="images/sprite.svg#puzzle"></use>
          </svg>
          <span class="icon--content icon--circle icon--below"></span>
        </div>
      </div>
      <div class="media__body">
        <h2 class="media__heading">
          Wxpert-led video course for beginners and skill levels
        </h2>
        <p class="media__content">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat
          nemo cumque accusantium, ut sunt accusamus!
        </p>
        <button class="btn btn--primary btn--stretched">
          Start Your Journey
        </button>
      </div>
    </div>
    <div class="media">
      <div class="media__image">
        <div class="icon-body">
          <svg class="icon icon--responsive icon--primary">
            <use xlink:href="images/sprite.svg#ladder"></use>
          </svg>
          <span
            class="icon--content icon--circle icon--circle--orange icon--above"
          ></span>
        </div>
      </div>
      <div class="media__body">
        <h2 class="media__heading">
          Wxpert-led video course for beginners and skill levels
        </h2>
        <p class="media__content">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat
          nemo cumque accusantium, ut sunt accusamus!
        </p>
        <button class="btn btn--primary btn--stretched">
          Start Your Journey
        </button>
      </div>
    </div>
  </div>
</section>
