<section class="container sponser__block">
  <div class="sponser__image">
    <img src="/images/nike.webp" alt="" class="images" />
  </div>
  <div class="sponser__image">
    <img src="/images/adobe.webp" alt="" class="images" />
  </div>
  <div class="sponser__image">
    <img src="/images/mailchimp.webp" alt="" class="images" />
  </div>
  <div class="sponser__image">
    <img src="/images/vacasa.webp" alt="" class="images" />
  </div>
</section>
<section class="container sponser__block">
  <div class="sponser__image">
    <img src="/images/hubspot.webp" alt="" class="images" />
  </div>
  <div class="sponser__image">
    <img src="/images/chegg.webp" alt="" class="images" />
  </div>
  <div class="sponser__image">
    <img src="/images/airbnb.webp" alt="" class="images" />
  </div>
  <div class="sponser__image">
    <img src="/images/verizon.webp" alt="" class="images" />
  </div>
</section>
